@model _7alazon.Models.Hotel






@{
    ViewBag.Title = "Details";
}
<br>
<div class="hotel-container">
    <div class="hotel-image">
        <h1 class="text-center">@Model.HotelName</h1>

        <img class="hotel-image" src="@Model.Photo" alt="Hotel Image" style="width:550px; height: 350px;">
    </div>
    <div class="hotel-info">

        <h2 class="text-center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotel Info </h2>


        <h4 class="text">Adresse :</h4> <p class="id2"> @Model.HotelAddress</p>
        <h4 class="text">Phone :&nbsp;</h4> <p class="id2"> @Model.HotelPhoneNumber</p>




        <h4 class="text">Email :</h4> <p class="id2"> @Model.HotelEmail</p>


        <h4 class="text">    Hotel Rating :  &nbsp;   </h4><p class="id3"> @Model.HotelRating</p>
    </div>
</div>
<br>
<p>
    <button class="  btn-outline-primary  ">
        @Html.ActionLink("Back to Home", "Index")
    </button>
    &nbsp;&nbsp;&nbsp;<button class=" btn-outline-primary">
        @Html.ActionLink("Hotel Rooms", "ShowRooms", new { id = @Model.HotelID })
    </button>
    </button>
    &nbsp;&nbsp;&nbsp;<button class=" btn-outline-primary">
        @Html.ActionLink("Add Comment", "idH", new { id = @Model.HotelID })
    </button>


</p>

<br>
<br>
<form method="post" action="@Url.Action("CreateComment", "Home")">
    <input type="hidden" name="hotelId" value="@Model.HotelID" />
    <input type="hidden" name="userName" value="@Session["UserName"]" />

    <div class="form-group">
        <label>Comment:</label>
        <textarea class="form-control" name="input.New_reviews" required></textarea>
        
    </div>
    <input type="submit" value="Submit Comment" class="btn btn-primary" />
</form>
<br>
<br>
@foreach (var comment in Model.Comments)
{
 
    <div class="comment ">
        <h4 class="text"> @comment.User.UserName : </h4> <h5> @comment.CommentDate </h5>


        <table class="table">

            @if (comment.Comment1.Contains("Negatif"))
            {
            <th>
                <h5> <p class="glyphicon-circle-arrow-down"> <br>@comment.Comment1.Replace("*-Negatif-*", "") <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Super_Angry_Face_Emoji_ios10_large.png?v=1571606092" alt="Sad Emoji" width="50" height="50" style="position:absolute; right:50px; ">  </p></h5>
            </th>}
             @if (comment.Comment1.Contains("Positif"))
            {
            <th>
                <h5> <p class="glyphicon-circle-arrow-down"> <br>@comment.Comment1.Replace("*-Positif-*", "") <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/65532/happy-emoji-clipart-md.png" alt="Sad Emoji" width="50" height="50" style="position:absolute; right:50px; ">  </p></h5>
            </th>}
              @if (comment.Comment1.Contains("Neutre"))
            {
            <th>
                <h5> <p class="glyphicon-circle-arrow-down"> <br>@comment.Comment1.Replace("*-Neutre-*", "") <img src="https://images.emojiterra.com/google/android-11/512px/1f610.png" alt="Sad Emoji" width="50" height="50" style="position:absolute; right:50px; ">  </p></h5>
            </th>}
        </table>

    </div>
}
@if (ViewBag.Error != null)
{
    <p class="error">@ViewBag.Error</p>
}

<style>
    h4.text, h5 {
        display: inline-block;
    }

    .comment {
        font-weight: bold;
    }

    .text {
        font-weight: bold;
        color: darkslategrey;
        font-family: Andalus;
    }

    .hotel-container {
        display: flex;
        align-items: center;
    }

    .hotel-image {
        margin-right: 100px;
        border-radius: 10px;
        margin-left: 0px;
    }

    .hotel-image {
        border-radius: 10px;
    }

    .hotel-info {
        background-color: cornflowerblue;
        padding: 20px;
        border-radius: 10px;
        margin-right: 50px;
    }

        .hotel-info h2 {
            margin-bottom: 10px;
        }

        .hotel-info p {
            margin: 0;
        }

    .text-center {
        font-weight: bold;
        color: black;
        margin-right: 100px;
        font-family: Aldhabi;
    }

    .id {
        font-weight: bold;
        color: black;
    }



    .id1 {
        font-weight: bold;
        color: black;
    }



    .id2 {
        font-weight: bold;
        color: black;
    }



    .id3 {
        font-weight: bold;
        color: black;
    }



    .id5 {
        font-weight: bold;
        color: black;
        textcenter;
    }
</style>


