@model _7alazon.Models.Room
@{
    var booking = (new _7alazon.Models.Booking());
}




@{
    ViewBag.Title = "RoomDetails";
}

<br>
<br>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<div class="hotel-container">
    <div class="hotel-image">
        <img src="@Model.Photo" alt="Hotel Image" style="width:550px; height: 350px;" class="room-image">
    </div>
    <div class="hotel-info">
        <h2 class="text-center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Room Info </h2>

        <h4 class="text">Room Number:</h4> <p class="id1"> @Model.RoomNumber</p>
        <h4 class="text">Room Price :</h4> <p class="id1">@Model.RoomPrice MAD</p>
        <h4 class="text">Room type:</h4> <p class="id1">  For @Model.RoomType person(s)</p>

    </div>


</div>
<br>
<p>
    <button class="btn-outline-primary">
        @Html.ActionLink("Hotel Info", "Details", new { id = @Model.HotelID }) 
    </button>
    &nbsp;&nbsp;&nbsp;<button class="btn-outline-primary">
        @Html.ActionLink("Hotel Rooms", "ShowRooms", new { id = @Model.HotelID })
    </button>


</p>

@if (@Model.RoomAvailability == false)
{
    <h3> Book from here :</h3>

    <form method="post" action="@Url.Action("BookRoom", "Home")">

        <p class="card-text">
            <input type="hidden" name="userName" value="@Session["UserName"]" />

            <div class="form-group">
                <label for="checkin">Check-in</label>
                <input type="date" class="form-control" id="checkin" name="checkIn" required>
            </div>
            <div class="form-group">
                <label for="checkout">Check-out</label>
                <input type="date" class="form-control" id="checkout" name="checkOut" required>
            </div>
            <input type="hidden" name="roomId" value="@Model.RoomID" />
            <button type="submit" class="btn btn-primary">Book Room</button>
        </p>
    </form>
}
else
{
    if (Session["UserName"] != null)
    {


        <form method="post" action="@Url.Action("Unbook", "Home")">
            <input type="hidden" name="roomid" value="@Model.RoomID" />
            <br>
            <input type="submit" value="Unbook" class="btn btn-danger" />
        </form>
    }
    else
    {
        <h3> Booked :(</h3>


    }

}






<style>
    .hotel-container {
        display: flex;
        align-items: center;
    }

    .hotel-image {
        margin-right: 100px;
    }

    .hotel-info h2 {
        margin-bottom: 10px;
    }

    .hotel-info p {
        margin: 0;
    }
</style>
<style>
    h4.text, h5 {
        display: inline-block;
    }

    .comment {
        font-weight: bold;
    }

    .text {
        font-family: Andalus;
        font-weight: bold;
    }

    .hotel-container {
        display: flex;
        align-items: center;
    }

    .hotel-image {
        margin-right: 100px;
        border-radius: 10px;
        margin-left: 0px;
    }

    .room-image {
        border-radius: 10px;
    }

    .hotel-info {
        background-color: cornflowerblue;
        padding: 20px;
        border-radius: 10px;
        margin-right: 50px;
    }

        .hotel-info h2 {
            margin-bottom: 10px;
        }

        .hotel-info p {
            margin: 0;
        }

    .text-center {
        font-weight: bold;
        color: black;
        margin-right: 100px;
        font-family: Aldhabi;
    }

    



    .id1 {
        font-weight: bold;
        color: black;
    }



    .id2 {
        font-weight: bold;
        color: black;
    }



    .id3 {
        font-weight: bold;
        color: black;
    }



    .id5 {
        font-weight: bold;
        color: black;
        textcenter;
    }
</style>







